{# layout.html #}
{# Import the layout of the theme. #}
{% extends "!layout.html" %}

{% set css_files = css_files + ['_static/default.css'] %}

{% block extrahead %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@start9labs">
<meta name="og:title" content="Start9 Docs">
<meta property="og:image" content="https://start9.com/images/icon.png" />
<meta name="og:description"
  content="Documentation, guides, and FAQ for Start9 software and hardware products, as well as general information about open source technologies, Bitcoin, Lightning, and Tor.">
{% endblock %}
