body, p, h1, h2, h3, h4, nav, .topbar, .topbar-main, .tocsection, .form-control, .bd-toc, .bd-sidebar {
    background-color: #2b2b2b!important;
    color: #f8f8ff!important;
    /* font-family: Lato,sans-serif!important; */
    line-height: 1.65;
}

h1 {
    font-size: 2rem;
    margin-top: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.15rem;
}

p, nav a  {
    font-size: 1.1em;
    letter-spacing: 0.75px;
}

a, a:visited, .headerlink {
    color: #ff4961!important;
}

.bd-toc nav li.active>a.active {
    border-left: 2px solid #ff4961!important;;
}

.prev-next-bottom a.left-prev, .prev-next-bottom a.right-next {
    border: 1px solid #f8f8ff;
}

.input:focus {
    outline: none !important;
    border:1px solid #ff4961!important;
    box-shadow: 0 0 10px #ff4961!important;
}

h1, h2 {
    /* border-bottom: 1px solid #666!important;
    padding-bottom: 0.5rem!important; */
    /* font-variant: small-caps; */
    letter-spacing: 2.3px;

}

.admonition.warning .admonition-title, .admonition.note .admonition-title {
    background-color: #666;
}

.important .admonition-title   {
    background-color: none!important;
}

.header-style:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    display: inline;
}

.bd-sidebar {
    background: none;
}

@media (min-width: 768px) {
    .bd-sidebar {
        border-right: 0.5px solid #f8f8ff;
        background: none;
    }
}


a:active {
    text-decoration: none;
}

ul.current > .current .active > a.current {
    text-decoration: underline #f8f8ff;
}

@media (max-width: 768px) {
    #site-navigation {
        background-color: #2b2b2b;
    }
}

code {
    color: #ff4961!important;
}

.topbar .topbar-main button.topbarbtn {
    background-color: #2b2b2b;
    color: #ff4960;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 2200px;
    }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 90%;
}

.admonition {
    width: 80%;
}

/* TOGGLE */

.toggle .admonition {
    padding-bottom: 0px!important;
}

.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .admonition-title::after {
    content: " ▶";
}

.toggle .admonition-title.open::after {
    content: " ▼";
}

.expand {
    width: 75%;
    margin: 1em 0 1em 5em;
    padding: 0 .6rem 0rem!important;
    border-left: .2rem solid #393838!important;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
    transition: color .25s,background-color .25s,border-color .25s;
}

.expand .admonition-title {
    background-color: #1e1e1e;
    font-weight: 300;
}

.expand .admonition-title:before {
    color: #393838!important;
}

@media (max-width: 600px) {
    .expand {
        width: 90%;
        margin: 0 0 1em 1.5em;
    }
}

.caption > i {
    display: none;
}

nav.bd-links .fa-chevron-up:hover, nav.bd-links .fa-chevron-down:hover {
    color: #ff4960;
}

nav.bd-links > ul.nav {
  padding-right: 8px;
}

.highlight > pre {
  background-color: lightgray;
}

.set-padding {
    padding-top: 75px!important;
}

/* MISC */

.hidden {
    display: none!important;
}

.navbar-brand-box a.navbar-brand {
    width: 75%;
    height: auto;
}

.navbar-brand-box {
    text-align: center;
}

.above {
    margin-top: -1000px!important;
}